.canvases {
    display: flex;
}

canvas {
    background: url('images/map.png') no-repeat;
    border: 1px solid black;
}

.PlayerSpace {
    display: flex;
    flex-direction: column;
}

.PlayerSpace__GameMenu {
    border: 1px solid black;
    background: #C0C0C0;
    height: 60px;
    display: flex;
    align-items: center;
}

.PlayerSpace__GameMenu__Tower {
    margin-left: 12px;
}

.PlayerSpace__GameMenu__Tower img {
    cursor: pointer;
}